.owl-carousel .item img {
    width: 100%;
    border-radius: 10px;
}

.boxi {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px auto;
    max-width: 95%;
}

.box {
    flex: 1;
    max-width: 34%;
    height: 131px;
    background-color: #ffff;
    color: orangered;
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
    padding: 35px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.value {
    font-size: 34px;
    font-weight: bold;
}

.description {
    font-size: 20px;
    font-weight: normal;
}

.containers {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.content {
    flex: 2;
    margin-right: 20px;
}

.content h1 {
    font-size: 1.8rem;
    color: #2c3e50;
}

.divider {
    width: 50px;
    height: 3px;
    background-color: #27ae60;
    border: none;
    margin: 10px 0;
}

.content p {
    line-height: 1.6;
    color: #4b4b4b;
}

.content strong {
    color: #27ae60;
}

.video-container {
    flex: 1;
}

video {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin: 20px auto;
    max-width: 1200px;
}

.col-sm-4 {
    flex: 1 1 30%;
    max-width: 30%;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 312px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform .5s;
    transform-style: preserve-3d;
}

.flip-card-front {
    border: 2px solid #f2f2f2;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.flip-card-front {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flip-card-front img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.flip-card-front h4 {
    margin: 10px 0;
    font-size: 20px;
    color: #343a40;
}

.flip-card-back {
    background-color: #343a40;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.flip-card-back a {
    color: #00bcd4;
    text-decoration: none;
    font-size: 24px;
}

.flip-card-back a:hover {
    color: #007bff;
}

.flip-card-back p {
    font-size: 14px;
    margin: 10px 0;
    line-height: 1.6;
}

.sect-container .row {
    gap: 0;
}

.card {
    background-color: #f0f8f2;
    text-align: center;
    padding: 20px;
    height: 280px;
    width: 95%;
}

.card:hover {
    background-color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.card i {
    font-size: 2rem;
    color: #4CAF50;
    margin-bottom: 15px;
}

.card-title {
    font-weight: bold;
}

.card-text {
    margin-top: 10px;
}

.slider-container {
    width: 100%;
    background-color: transparent;
    padding: 20px 0 0 15px;
    position: relative;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.slider-container .owl-carousel .items {
    text-align: center;
    padding: 10px;
    width: 100%;
}

.owls-carousel .items img {
    max-width: 100%;
    height: auto;
}

.owls-carousel .items h4 {
    font-size: 16px;
    margin: 5px 0;
}

.slider-container .owl-carousel .owl-stage-outer {
    width: 1260px;
}

.slider-container .owl-nav {
    position: relative;
    text-align: center;
}

.slider-container .owl-nav button span {
    padding: 5px !important;
    font-size: 50px;
}

.Customer-Testimonials p {
    font-size: 17px;
    color: #000;
    line-height: 32px;
}

.Customer-Testimonials h2 {
    font-size: 25px;
    color: #2c325d;
    font-weight: 600;
    text-transform: capitalize;
    margin: 10px 0;
    text-align: center;
}

.Customer-Testimonials h3 {
    font-size: 20px;
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
    margin: 10px 0;
    text-align: center;
}

.award-card img {
    width: 100%;
    height: auto;
    border: #ebebeb 6px solid;
    padding: 3px;
}

.award-card p {
    padding-top: 10px;
    font-size: 17px;
    color: #000;
    line-height: 32px;
}

.collab {
    position: relative;
    height: 510px;
}

.collab2 {
    position: relative;
    height: 390px;
    padding-bottom: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


/* FAQ Section */

.faq-section {
    flex: 1;
    p {
        font-size: 17px;
    }
}

.faq-title {
    font-size: 20px;
    color: #007bff;
    margin-bottom: 15px;
}

.accordion {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.accordion:hover {
    background-color: #0056b3;
}

.panel {
    display: none;
    padding: 15px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.panel ul {
    padding-left: 20px;
    list-style: disc;
}

.panel a {
    color: #007bff;
    text-decoration: none;
}

.panel a:hover {
    text-decoration: underline;
}


/* Image Section */

.image-section {
    flex: 1;
    text-align: center;
}

.image-section img {
    width: 110%;
    height: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.breadcrumb-section {
    font-size: 18px;
    color: #007bff;
}

.solar-services h5 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 24px;
}

.services-links a {
    font-size: 18px;
    text-decoration: none;
    color: #007bff;
    margin: 0 5px;
}

.services-links a:hover {
    text-decoration: underline;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee
}

.footer-card {
    padding: 0 0 10% 0;
}

.footer-card .row {
    gap: 0;
}

.footer-card .card {
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.footer-card .card img {
    width: 100%;
}

.footer-card .card:hover {
    transform: scale(1.05);
    box-shadow: 1px 8px 15px #666;
}

.footer-card .card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.footer-card .card-text {
    font-size: 0.95rem;
}

.footer-card .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    object-fit: cover;
}

.footer-card .text-primary {
    color: #007bff !important;
}

.footer-card .text-success {
    color: #28a745 !important;
}

#footer-01 {
    background: #d4dad3;
    padding: 40px 0 40px 0;
    color: #000;
    font-weight: 400;
    background-repeat: repeat;
    background-position: center center;
    clear: both;
}

.footer h3 {
    font-size: 22px;
    color: #353d65;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer ul {
    padding: 0;
    margin: 0;
}

.col-sm-4 {
    width: 33.33333333%;
}

.social {
    margin: 0 0 10px;
}

.fotter-img {
    text-align: center;
}

.footer ul li {
    border-bottom: 1px dashed #585858;
    list-style: none;
    line-height: 40px;
    text-align: left;
}

.footer ul li a {
    color: #000;
    line-height: 40px;
    list-style: none;
    font-size: 16px;
    text-decoration: none;
}