* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1280px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.page-title-link {
    padding-left: 0;
    margin-bottom: 0;
    text-align: right;
    color: #919191;
    font-weight: 600;
    li {
        display: inline-block;
        position: relative;
        color: #000;
        font-size: 16px;
        margin: 0 0;
        text-transform: capitalize;
    }
    a {
        color: #000;
        font-size: 16px;
        margin: 0;
        text-transform: capitalize;
        text-decoration: none;
    }
}

.well-part {
    padding: 30px 0;
}

.wel-text p {
    font-size: 17px;
    color: #000;
    line-height: 32px;
    text-align: justify;
}

.wel-text h3 {
    color: #006500;
    font-weight: 600;
    line-height: 24px;
    font-size: 18px;
    margin: 10px 0;
}

.image-part h4 a {
    font-size: 16px;
    color: #404040;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.image-part img {
    width: 100%;
    height: auto;
    border: 1px solid #121212;
    padding: 4px;
}

.image-part img:hover {
    border: 1px solid orangered;
}

.pd-top {
    padding: 10px 0;
}

#footer-01 {
    background: #d4dad3;
    padding: 40px 0 40px 0;
    color: #000;
    font-weight: 400;
    background-repeat: repeat;
    background-position: center center;
    clear: both;
}

.footer h3 {
    font-size: 22px;
    color: #353d65;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer ul {
    padding: 0;
    margin: 0;
}

.col-sm-4 {
    width: 33.33333333%;
}

.social {
    margin: 0 0 10px;
}

.fotter-img {
    text-align: center;
}

.footer ul li {
    border-bottom: 1px dashed #585858;
    list-style: none;
    line-height: 40px;
    text-align: left;
}

.footer ul li a {
    color: #000;
    line-height: 40px;
    list-style: none;
    font-size: 16px;
    text-decoration: none;
}